.navbar {
    background-color: gray;
}

#header {
    text-align: center;
    color: white;
}

#container-1 {
    background-color: whitesmoke;
}

#container-2 {
    border-radius: 10px;
    border-style: groove;
    height: 300px;
}

.forecast-cont {
    background-color: #0099ff;
}

.table tr.is-selected {
    background-color: #3298dc;
    color: #fff;
}
